Dear "$firstname $lastname",
So nice to meet you in <% out << (city == "New York" ? "\"The Big Apple\"" : city) %>.
See you in ${month},
${signed}
${someList.collect{ it * it}}
${firstname.fooBar}
${firstname.fooBarz}
