*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore all target directories
target/
bin/

.project
.classpath
.factorypath

generated-sources/
# /japkit-ddd-example

org.eclipse.core.resources.prefs
org.eclipse.jdt.apt.core.prefs
org.eclipse.jdt.core.prefs
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml
org.eclipse.wst.validation.prefs